<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="race-selection-page" data-model-id="5:40">
      <div class="div">
        <div class="back-button"><div class="text-wrapper">Go Back</div></div>
        <div class="next-button"><div class="text-wrapper-2">Go Forth</div></div>
        <div class="start-over"><div class="text-wrapper-3">Start Over</div></div>
        <div class="overlap">
          <div class="overlap-group">
            <div class="text-wrapper-4">Select Your Race</div>
            <div class="help-button">
              <div class="overlap-group-2">
                <div class="ellipse"></div>
                <div class="text-wrapper-5">?</div>
              </div>
            </div>
          </div>
          <div class="list">
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Human</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">Humans are the most adaptable and ambitious people among the common races.</p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Dwarf</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Bold and hardy, dwarves are known as skilled warriors, miners, and workers of stone and metal.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Elf</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Elves are a magical people of otherworldly grace, living in the world but not entirely part of it.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Halfling</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  The diminutive halflings survive in a world full of larger creatures by avoiding notice or, barring
                  that, avoiding offense.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Half-Orc</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Some half-orcs rise to become proud leaders of orc communities. Some venture into the world to prove
                  their worth.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Dragonborn</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Dragonborn look very much like dragons standing erect in humanoid form, though they lack wings or a
                  tail.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Gnome</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  A gnome’s energy and enthusiasm for living shines through every inch of his or her tiny body.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Tiefling</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Born of infernal heritage, Tieflings are often mistrusted. They walk the line between darkness and
                  destiny.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Half-Elf</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Half-elves combine what some say are the best qualities of their elf and human parents.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="RPG-me"><div class="text-wrapper-6">RPG me</div></div>
      </div>
    </div>
  </body>
</html>
