.race-selection-page {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.race-selection-page .div {
  background-image: url(./img/race-selection-page.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 1280px;
  height: 832px;
  position: relative;
}

.race-selection-page .back-button {
  position: absolute;
  width: 267px;
  height: 94px;
  top: 659px;
  left: 349px;
  background-color: var(--variable-collection-text-fill-color);
  border-radius: 15px;
  border: 5px solid;
  border-color: #000000;
  box-shadow: var(--drop-shadow);
}

.race-selection-page .text-wrapper {
  left: 41px;
  position: absolute;
  height: 52px;
  top: 15px;
  font-family: "GothicByte-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.race-selection-page .next-button {
  position: absolute;
  width: 267px;
  height: 94px;
  top: 659px;
  left: 663px;
  background-color: var(--variable-collection-text-fill-color);
  border-radius: 15px;
  border: 5px solid;
  border-color: #000000;
  box-shadow: var(--drop-shadow);
}

.race-selection-page .text-wrapper-2 {
  left: 35px;
  position: absolute;
  height: 52px;
  top: 15px;
  font-family: "GothicByte-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.race-selection-page .start-over {
  position: absolute;
  width: 296px;
  height: 53px;
  top: 762px;
  left: 492px;
}

.race-selection-page .text-wrapper-3 {
  position: absolute;
  width: 296px;
  height: 53px;
  top: -1px;
  left: 0;
  font-family: "GothicByte-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-text-fill-color);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.race-selection-page .overlap {
  position: absolute;
  width: 581px;
  height: 417px;
  top: 214px;
  left: 349px;
  background-image: url(./img/box.png);
  background-size: 100% 100%;
}

.race-selection-page .overlap-group {
  position: absolute;
  width: 542px;
  height: 67px;
  top: 17px;
  left: 19px;
}

.race-selection-page .text-wrapper-4 {
  position: absolute;
  width: 542px;
  height: 67px;
  top: 0;
  left: 0;
  font-family: "GothicByte-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 84.0px;
  white-space: nowrap;
}

.race-selection-page .help-button {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 1px;
  left: 507px;
}

.race-selection-page .overlap-group-2 {
  position: relative;
  height: 35px;
  top: -1px;
}

.race-selection-page .ellipse {
  position: absolute;
  width: 35px;
  height: 34px;
  top: 1px;
  left: 0;
  background-color: #f8ebca;
  border-radius: 17.5px / 16.94px;
  border: 3px solid;
  border-color: #000000;
}

.race-selection-page .text-wrapper-5 {
  position: absolute;
  width: 15px;
  height: 35px;
  top: 0;
  left: 10px;
  font-family: "GothicByte-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36.4px;
  white-space: nowrap;
}

.race-selection-page .list {
  display: flex;
  flex-direction: column;
  width: 581px;
  height: 322px;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
  position: absolute;
  top: 85px;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.race-selection-page .list::-webkit-scrollbar {
  width: 0;
  display: none;
}

.race-selection-page .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.race-selection-page .div-3 {
  display: flex;
  align-items: center;
  gap: var(--size-space-300);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.race-selection-page .radio {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-full);
  border: 1px solid;
  border-color: var(--color-border-brand-tertiary);
}

.race-selection-page .label {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Bodoni 72-Book", Helvetica;
  font-weight: 400;
  color: var(--color-text-default-default);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 33.6px;
}

.race-selection-page .space {
  position: relative;
  width: 16px;
  height: 16px;
}

.race-selection-page .description {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Bodoni 72-Book", Helvetica;
  font-weight: 400;
  color: var(--color-text-default-secondary);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28.0px;
}

.race-selection-page .RPG-me {
  position: absolute;
  width: 448px;
  height: 140px;
  top: 45px;
  left: 67px;
}

.race-selection-page .text-wrapper-6 {
  position: absolute;
  top: -6px;
  left: -5px;
  text-shadow: 0px 21px 4px #00000040;
  -webkit-text-stroke: 5px #000000;
  font-family: "GothicByte-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-text-fill-color);
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  box-shadow: var(--drop-shadow);
}
