body {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@font-face {
    font-family: GothicByte;
    src: url(GothicByte.ttf);
}

.background {
  background-image: url(./background-image.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 1500px;
  height: 700px;
  position: relative;
}

.logo-header {
  width: 100%;
  height: 140px;
}

.logo {
  position: absolute;
  width: 448px;
  height: 140px;
  top: 28px;
  left: 50px;
}

.create-new-button {
  margin: auto;
  width: 230px;
  height: 90px;
  padding: 8px 0 0 0;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  background-color: #F8EBCA;
  border-radius: 15px;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0 9px #666;
}

.create-new-button:hover {
  background-color: #B9A36A
}

.create-new-button:active {
  background-color: #B9A36A;
  box-shadow: 0 5px #404040;
  transform: translateY(4px);
  color: #000000
}

a {
  color: inherit;
}

.welcome-text {
  display: block;
  margin: auto;
  width: 40%;
  padding: 60px 0 0 0;
}

.back-button {
  position: absolute;
  top: 520px;
  left: 470px;
  width: 226px;
  height: 75px;
  padding: 15px 25px;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  background-color: #F8EBCA;
  border-radius: 15px;
  border: 2px solid;
  border-color: #000000;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}


.back-button:hover {
  background-color: #B9A36A
}

.back-button:active {
  background-color: #B9A36A;
  box-shadow: 0 5px #404040;
  transform: translateY(4px);
  color: #000000
}

.next-button {
  position: absolute;
  top: 520px;
  left: 730px;
  width: 226px;
  height: 75px;
  padding: 15px 25px;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  background-color: #F8EBCA;
  border-radius: 15px;
  border: 2px solid;
  border-color: #000000;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}


.next-button:hover {
  background-color: #B9A36A
}

.next-button:active {
  background-color: #B9A36A;
  box-shadow: 0 5px #404040;
  transform: translateY(4px);
  color: #000000
}


.start-over {
  position: absolute;
  top: 620px;
  left: 630px;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #F8EBCA;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
}

.start-over:hover {
  text-decoration: underline;
}

.start-over:active {
  transform: translateY(4px);
}

.form {
  position: absolute;
  left: 29%;
}

#radio-form {
  overflow-y: scroll;
  width: 580px;
  height: 300px;
}

.tooltip-icon {
  width: 30px;
  height: 30px
}

.tooltip {
  float: right;
  position: absolute;
  right: 20px;
  top: 0;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  font-family: Helvetica;
  background-color: #F8EBCA;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -125px;
}

.tooltiptext a{
  text-decoration: underline;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #F8EBCA transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

h1 {
  text-align: center;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #F8EBCA;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.form-option {
  text-align: left;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: black;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius:8px;
  border: 2px solid;
  border-color: #000000;
  background: #F8EBCA;
}

.race-option input[type="radio"] {
    margin-right: 0.5em;
}

.description {
  text-align: left;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  color: #555;
  margin-left: 2 em;
}

.name-box {
  width: 550px;
  height: 200px;
  margin: auto;
  display: table;
  padding: 10px;
  text-align: center;
  font-family: "GothicByte";
  font-weight: 500;
  letter-spacing: 0;
  color: black;
  border-radius:15px;
  border: 3px solid;
  border-color: #000000;
  background: #F8EBCA;
  margin-bottom: 15px;
  margin-top: 20px;
}
.name-span {
  display: table-cell;
  vertical-align: middle;
  font-size: 64px;
}

.name-intro {
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}

.name-form {
  margin: auto;
  width: 320px;
  height: 75px;
}

.name-button {
  width: 320px;
  height: 75px;
  padding: 15px 25px;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  background-color: #9CACB4;
  border-radius: 15px;
  border: 2px solid;
  border-color: #000000;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}

.name-button:hover {
  background-color: #586D78
}

.name-button:active {
  background-color: #586D78;
  box-shadow: 0 5px #404040;
  transform: translateY(4px);
  color: #000000
}

.stat-box {
  width: 750px;
  height: 125px;
  margin: auto;
  display: table;
  text-align: center;
  font-family: "GothicByte";
  font-weight: 500;
  letter-spacing: 0;
  color: black;
  border-radius:15px;
  border: 3px solid;
  border-color: #000000;
  background: #F8EBCA;
  margin-bottom: 20px;
  margin-top: 50px;
}
.stat-span {
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
}

.stat-intro {
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
}

.stat-button {
  width: 320px;
  height: 75px;
  padding: 15px 25px;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  background-color: #9CACB4;
  border-radius: 15px;
  border: 2px solid;
  border-color: #000000;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}

.stat-button:hover {
  background-color: #586D78
}

.stat-button:active {
  background-color: #586D78;
  box-shadow: 0 5px #404040;
  transform: translateY(4px);
  color: #000000
}

.stat-roll-form {
  margin: auto;
  width: 320px;
  height: 75px;
  }

.stat-label{
  float: left;
  padding-top: 5px;
}

.stat-dropdown {
  font-family: "GothicByte";
  text-align: center;
  font-size: 18px;
  width: 150px;
  background: #9CACB4;
  border: 2px solid;
}

.stat-form {
  display: table;
  margin: auto;
  text-align: right;
  width: 670px;
  height: 300px;
  font-family: "GothicByte";
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0;
  color: black;
  border-radius:15px;
  border: 3px solid;
  border-color: #000000;
  background: #F8EBCA;
  padding: 20px 30px 5px 30px;
}


.stat_div {
  margin: -5px;
  text-align: right;
}

.stat-tooltip-and-form {
  position: absolute;
  left: 380px;
  width: 670px;
}