.welcome-page {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@font-face {
    font-family: GothicByte;
    src: url(GothicByte.ttf);
}

.welcome-page .div {
  background-image: url(./background-image.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 1500px;
  height: 700px;
  position: relative;
}

.welcome-page .RPG-me {
  position: absolute;
  width: 448px;
  height: 140px;
  top: 28px;
  left: 50px;
}

.welcome-page .text-wrapper {
  position: absolute;
  top: -6px;
  left: -5px;
  text-shadow: 0px 21px 4px #00000040;
  -webkit-text-stroke: 5px #000000;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-text-fill-color);
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  box-shadow: var(--drop-shadow);
}

.welcome-page .set-forth-button {
  position: absolute;
  width: 226px;
  height: 75px;
  top: 564px;
  left: 643px;
  background-color: var(--variable-collection-text-fill-color);
  border-radius: 15px;
  border: 5px solid;
  border-color: #000000;
  box-shadow: var(--drop-shadow);
}

.welcome-page .create-new {
  position: absolute;
  height: 66px;
  top: -1px;
  left: 26px;
  font-family: "GothicByte", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page .welcome-text {
  position: absolute;
  width: 589px;
  height: 341px;
  top: 214px;
  left: 455px;
}
