{% extends 'base.html' %}

{% block content %}

    <div class="form">
          <div class="tooltip">
            <img class="tooltip-icon" src="{{ url_for('static', filename='tooltip-icon.png') }}" />
            <span class="tooltiptext">Need More Information? Follow <a href="http://dndroll.wikidot.com/classes">this link</a> to learn more about the different classes.</span>
          </div>
          <h1>Select Your Class</h1>
        <form id = 'radio-form' method="POST" onsubmit="handleNextClick(event)">
            {% for class in classes %}
                <div class="form-option">
                    <label>
                        <input type="radio" name="class" value="{{ class.name }}"
                            {% if selected == class.name %}checked{% endif %}>
                        <strong>{{ class.name }}</strong>
                    </label>
                    <div class="description">{{ class.description }}</div>
                </div>
            {% endfor %}
        </form>
    </div>
        <div class="back-button">
          <a href="/race">Go Back</a>
        </div>
        <div>
            <input class="next-button" type="submit" form="radio-form" value="Go Forth"/>
        </div>
        <div class="start-over">
          <a onclick="confirm_start_over()">Start Over</a>
         <script>
          function confirm_start_over() {
            let text = "Are you sure you want to start over?\nAll your previous selections will be lost."
            if (confirm(text)) {
              window.location.href = "/";
            }
          }
          function handleNextClick(event) {
            const selected = document.querySelector('input[name="class"]:checked');
            if (!selected) {
              event.preventDefault();
              alert("Please select a class before proceeding.");
            }
          }
         </script>
        </div>
{% endblock %}