{% extends 'base.html' %}

{% block content %}

        <div class="name-box">
            {% if name %}
            <span class="name-span">{{ name }}</span>
            {% else %}
            <span id="name-intro" class="name-intro">Summon your character’s name by pressing the button below</span>
            {% endif %}
        </div>

        <form class="name-button-position" action="/generate-name" method="post">
          <button class="name-button" type="submit">Conjure Name</button>
        </form>

          <form action="/save-name" method="post" onsubmit="handleNextClick(event)">
            <button class="next-button" type="submit" >Go Forth</button>
          </form>

        <div class="back-button">
            <a href="/class">Go Back</a>
        </div>

        <div class="start-over">
          <a onclick="confirm_start_over()" >Start Over</a>
         <script>
          function confirm_start_over() {
            let text = "Are you sure you want to start over?\nAll your previous selections will be lost."
            if (confirm(text)) {
              window.location.href = "/";
            }
          }
          function handleNextClick(event) {
            const namePresent = "{{ name }}" !== "";
            if (!namePresent) {
              event.preventDefault();
              alert("Please generate a name first before proceeding.");
            }
          }
         </script>
        </div>

{% endblock %}