{% extends 'base.html' %}

{% block content %}

        <div class="name-box">
            {% if generate_name %}
            <span class="name-span">{{ name }}</span>
            {% else %}
            <span id="name-intro" class="name-intro">Summon your character’s name by pressing the button below</span>
            {% endif %}
        </div>

        <div class="name-form">
            <input class="name-button" type="submit" value="Conjure Name" onclick="generate_name()"/>
        </div>

        <div class="back-button">
            <a href="/class">Go Back</a>
        </div>
        <div>
            <a class="next-button" href="/stat-roll">Go Forth</a>
        </div>
        <div class="start-over">
          <a onclick="confirm_start_over()" >Start Over</a>
         <script>
          function confirm_start_over() {
            let text = "Are you sure you want to start over?\nAll your previous selections will be lost."
            if (confirm(text)) {
              window.location.href = "/";
            }
          }
          function generate_name() {
            window.location.href = "name?generateName=True"
          }
         </script>
        </div>

{% endblock %}