{% extends 'base.html' %}

{% block content %}
<div class="stat-tooltip-and-form">
    <div class="tooltip">
      <img class="tooltip-icon" src="{{ url_for('static', filename='tooltip-icon.png') }}" />
      <span class="tooltiptext">Need More Information? Follow <a href="https://roll20.net/compendium/dnd5e/Ability%20Scores#content">this link</a> to learn more about the different abilities.</span>
    </div>
    <h1>Assign Your Abilities</h1>
    <form class="stat-form" id="stat-form" method="POST" action='/submit-stats'>
        <div class="stat_div">
          <label class="stat-label" for="str_dropdown"><u>Strength</u> - physical power</label>
          <select class="stat-dropdown" name="str_dropdown" id="str_dropdown">
            <option value="" selected disabled hidden>Select a value</option>
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="stat_div">
          <label class="stat-label" for="dex_dropdown"><u>Dexterity</u> - agility</label>
          <select class="stat-dropdown" name="dex_dropdown" id="dex_dropdown">
            <option value="" selected disabled hidden>Select a value</option>
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="stat_div">
          <label class="stat-label" for="con_dropdown"><u>Constitution</u> - endurance</label>
          <select class="stat-dropdown" name="con_dropdown" id="con_dropdown">
            <option value="" selected disabled hidden>Select a value</option>
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="stat_div">
          <label class="stat-label" for="int_dropdown"><u>Intelligence</u> - reasoning and memory</label>
          <select class="stat-dropdown"  name="int_dropdown" id="int_dropdown">
            <option value="" selected disabled hidden>Select a value</option>
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="stat_div">
          <label class="stat-label" for="wis_dropdown"><u>Wisdom</u> - perception and insight</label>
          <select class="stat-dropdown" name="wis_dropdown" id="wis_dropdown">
            <option value="" selected disabled hidden>Select a value</option>
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="stat_div">
          <label class="stat-label" for="cha_dropdown"><u>Charisma</u> - force of personality</label>
          <select class="stat-dropdown" name="cha_dropdown" id="cha_dropdown">
            <option value="" selected disabled hidden>Select a value</option>
            {% for option in options %}
            <option value="{{ option }}" {% if option == selected_value %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        </div>
      <button type="button" class="assign-button" onclick="assignForMe()">Assign for Me</button>
    </form>
</div>
        <div class="back-button">
            <a href="/stat-roll">Go Back</a>
        </div>
        <div>
            <input class="next-button" type="submit" form="stat-form" value="Go Forth"/>
        </div>
        <div class="start-over">
          <a onclick="confirm_start_over()">Start Over</a>
         <script>
          function confirm_start_over() {
            let text = "Are you sure you want to start over?\nAll your previous selections will be lost."
            if (confirm(text)) {
              window.location.href = "/";
            }
          }
          function assignForMe() {
            const stats = [
              "str_dropdown",
              "dex_dropdown",
              "con_dropdown",
              "int_dropdown",
              "wis_dropdown",
              "cha_dropdown"
            ];

            const allOptions = Array.from(
              document.querySelectorAll("#str_dropdown option")
            )
            .filter(opt => opt.value !== "")
            .map(opt => opt.value);

            const shuffled = allOptions.sort(() => 0.5 - Math.random()).slice(0, stats.length);

            stats.forEach((id, index) => {
              const dropdown = document.getElementById(id);
              if (dropdown && shuffled[index] !== undefined) {
                dropdown.value = shuffled[index];
              }
            });
          }
         </script>
        </div>

{% endblock %}


