{% extends 'base.html' %}

{% block content %}

    <div class="stat-box">
        {% if stats %}
            {% for stat in stats %}
                <span class="stat-span">{{ stat }}</span>
            {% endfor %}
        {% else %}
        <span id="stat-intro" class="stat-intro">Summon your character’s stat values by pressing the button below</span>
        {% endif %}
    </div>

    <form class="stat-roll-form" action="/generate-stats" method="post">
        <button class="stat-button" type="submit">Roll The Dice</button>
    </form>

    <form action="/save-stats" method="post" onsubmit="handleNextClick(event)">
        <button class="next-button" type="submit" >Go Forth</button>
    </form>

        <div class="back-button">
            <a href="/name">Go Back</a>
        </div>

        <div class="start-over">
          <a onclick="confirm_start_over()">Start Over</a>
         <script>
          function confirm_start_over() {
            let text = "Are you sure you want to start over?\nAll your previous selections will be lost."
            if (confirm(text)) {
              window.location.href = "/";
            }
          }

          function handleNextClick(event) {
            const statSpans = document.querySelectorAll('.stat-span');
            if (statSpans.length === 0) {
              event.preventDefault();
              alert("Please generate stat values first before proceeding.");
            }
          }
         </script>
        </div>

{% endblock %}