<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="class-selection-page" data-model-id="23:332">
      <div class="div">
        <div class="RPG-me"><div class="text-wrapper">RPG me</div></div>
        <div class="back-button"><div class="text-wrapper-2">Go Back</div></div>
        <div class="next-button"><div class="text-wrapper-3">Go Forth</div></div>
        <div class="start-over"><div class="text-wrapper-4">Start Over</div></div>
        <div class="overlap">
          <div class="overlap-group">
            <div class="help-button">
              <div class="overlap-group-2">
                <div class="ellipse"></div>
                <div class="text-wrapper-5">?</div>
              </div>
            </div>
            <div class="text-wrapper-6">Select Your Class</div>
          </div>
          <div class="list">
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Barbarian</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Barbarians are mighty warriors who are powered by primal forces of the multiverse that manifest as a
                  Rage.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Bard</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Bards are expert at inspiring others, soothing hurts, disheartening foes, and creating illusions.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Cleric</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Cleric can reach out to the divine magic of the Outer Planes—where gods dwell—and channel it to
                  bolster people and battle foes.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Druid</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Harnessing the magic of nature, Druids heal, transform into animals, and wield elemental destruction.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Fighter</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Fighters all share an unparalleled prowess with weapons and armor, always having the right tool at
                  hand for any combat situation.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Monk</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Monks focus their internal reservoirs of power to create extraordinary, even supernatural, effect.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Paladin</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Paladins live on the front lines of the cosmic struggle, united by their oaths against the forces of
                  annihilation.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Ranger</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Rangers are honed with deadly focus and harness primal powers to protect the world from the ravages of
                  monsters and tyrants.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Rogue</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Rogues have a knack for finding the solution to just about any problem, prioritizing subtle strikes
                  over brute strength.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Sorcerer</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Sorcerers harness and channel the raw, roiling power of innate magic that is stamped into their very
                  being.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Warlock</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Warlocks quest for knowledge that lies hidden in the fabric of the multiverse, piecing together arcane
                  secrets to bolster their own power.
                </p>
              </div>
            </div>
            <div class="div-2">
              <div class="div-3">
                <div class="radio"></div>
                <div class="label">Wizard</div>
              </div>
              <div class="div-3">
                <div class="space"></div>
                <p class="description">
                  Wizards cast spells of explosive fire, arcing lightning, subtle deception, and spectacular
                  transformations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
