:root {
  --drop-shadow: 0px 21px 4px 0px rgba(0, 0, 0, 0.25);
  --variable-collection-text-fill-color: rgba(248, 235, 202, 1);
  --variable-collection-red-dice-color: rgba(181, 28, 21, 1);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-brand-tertiary: var(--color-primitives-brand-500);
  --size-radius-full: 9999px;
  --size-space-300: 12px;
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-500: rgba(117, 117, 117, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-white-500: rgba(255, 255, 255, 0.7);
  --color-primitives-brand-500: rgba(117, 117, 117, 1);
  --color-primitives-brand-400: rgba(179, 179, 179, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-border-brand-tertiary: var(--color-primitives-brand-500);
}

[data-color-mode="SDS-dark"] {
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-text-default-secondary: var(--color-primitives-white-500);
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-border-brand-tertiary: var(--color-primitives-brand-400);
}
